.glare-hover {
    width: var(--gh-width);
    height: var(--gh-height);
    background: var(--gh-bg);
    border-radius: var(--gh-br);
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
}

.glare-hover::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--gh-angle),
            hsla(0, 0%, 0%, 0) 40%,
            var(--gh-rgba) 70%,
            hsla(0, 0%, 0%, 0) 100%);
    background-size: 200% 200%;
    background-position: 100% 100%;
    transition: var(--gh-duration) ease;
    background-repeat: no-repeat;
}

.glare-hover:hover,
.glare-hover.is-active {
    cursor: pointer;
}

.glare-hover:hover::before,
.glare-hover.is-active::before {
    background-position: 0% 0%;
}

.glare-hover--play-once::before {
    transition: none;
}

.glare-hover--play-once:hover::before,
.glare-hover--play-once.is-active::before {
    transition: var(--gh-duration) ease;
    background-position: 0% 0%;
}